body{
    margin: 0;
    padding:0;
    height: 100%;
}

.main{
    max-width: 400px;
    margin: 30px auto ;
}
.container {
    border: 1px solid #ccc;
}
input{
    opacity:80%;
}

.btn {
    color: #808080;
    font-size: 12px;
    margin-left: 14px;
    border-radius: 10px;
    background-color: #E6E6E6;
}